.pokemon-grid {
  display: grid;
  grid-gap: 16px;
  padding: 20px;
  grid-template-columns:  repeat(auto-fit, minmax(15%, 1fr));
}
.pokemon-grid .box {
  display: grid;
  width: 100%;
  height: 300px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.pokemon-grid .box img {
  max-width: 100px;
  display: block;
  margin: 0 auto;
  /*box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);*/
}
pagination-controls {
  text-align: center;
}
span {
  padding: 4px 6px;
  border: 2px none black;
  border-radius: 20px;
  color: white;
  text-shadow: 1px 2px black;
}
.normal {background-color: #A8A77A;}
.fire {background-color: #EE8130;}
.water {background-color: #6390F0;}
.grass {background-color: #7AC74C;}
.flying {background-color: #A98FF3;}
.fighting {background-color: #C22E28;}
.poison {background-color: #A33EA1;}
.electric {background-color: #F7D02C;}
.ground {background-color: #E2BF65;}
.rock {background-color: #B6A136;}
.psychic {background-color: #F95587;}
.ice {background-color: #96D9D6;}
.bug {background-color: #A6B91A;}
.ghost {background-color: #735797;}
.steel {background-color: #B7B7CE;}
.dragon {background-color: #6F35FC;}
.dark {background-color: #705746;}
.fairy  {background-color: #D685AD;}

@media screen and (min-width: 360px) {
  .pokemon-grid {
    grid-gap: 5px;
    grid-template-columns:  repeat(auto-fit, minmax(40%, 1fr));
  }
  .pokemon-grid .box {
    height: 250px;
    font-size: 12px;
  }
}

@media screen and (min-width: 375px) {
  .pokemon-grid {
    grid-gap: 5px;
    grid-template-columns:  repeat(auto-fit, minmax(40%, 1fr));
  }
  .pokemon-grid .box {
    height: 250px;
    font-size: 12px;
  }
}

@media screen and (min-width: 768px) {
    .pokemon-grid {
      grid-gap: 10px;
      grid-template-columns:  repeat(auto-fit, minmax(30%, 1fr));
    }
    .pokemon-grid .box {
      height: 250px;
      font-size: 14px;
    }
}
@media screen and (min-width: 1024px) {
  .pokemon-grid {
    grid-gap: 12px;
    grid-template-columns:  repeat(auto-fit, minmax(30%, 1fr));
  }
  .pokemon-grid .box {
    height: 250px;
    font-size: 18px;
  }
}
@media screen and (min-width: 1080px){
  .pokemon-grid {
    display: grid;
    grid-gap: 16px;
    padding: 20px;
    grid-template-columns:  repeat(auto-fit, minmax(15%, 1fr));
  }
  .pokemon-grid .box {
    height: 400px;
    font-size: 18px;
  }
}



