<div class=" pokemon-grid">
  <div class="box" *ngFor="let pokemon of pokemons | paginate: { id: 'pokemonPage', itemsPerPage: 18, currentPage: page, totalItems: totalPokemons}">
    <p>
      <b>ID</b> {{ pokemon.id }}
    </p>
    <img [src]="pokemon.sprites.other['official-artwork'].front_default" alt="{{pokemon.name}}">
    <h3>{{ pokemon.name | titlecase }}</h3>
    <div>
      <b>Type:</b>
      <span>{{ pokemon.types[0].type.name | titlecase }}</span>
      <span *ngIf="pokemon.types.length > 1">/{{ pokemon.types[1].type.name | titlecase }}</span>
    </div>
    <p>
      <b>Height:</b> {{ pokemon.height }}
    </p>
    <p>
      <b>Weight:</b> {{ pokemon.weight }} Kg
    </p>
    <p>
      <b>Attack Power:</b> {{ pokemon.stats[1].base_stat }}
    </p>
  </div>
</div>

<pagination-controls
  id="pokemonPage"
  (pageChange)="page = $event;
  getPokemons()"></pagination-controls>

